.tasksListContainer {
    display: flex;
    justify-content: center;
}

.tasksList {
    margin-top: 80px;
    align-items: center;
    width: 950px;
    max-width: 85%;
}

.tasksInfo {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 24px;
    text-align: center;
}

.tasksInfo span {
    background-color: var(--gray-400);
    border-radius: 10px;
    color: white;
    padding: 5px 12px;
    margin-left: 8px;
}

.tasksCreated {
    font-weight: bold;
    color: var(--blue);
    flex: 1 1 200px;
    min-width: 150px;
}

.tasksDone {
    font-weight: bold;
    color: var(--purple);
    flex: 1 1 200px;
    min-width: 150px;
}

hr {
    border-color: var(--gray-300);
}

.noTasksMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--gray-300);
    text-align: center;
}

.noTasksMessage img {
    margin-top: 50px;
    margin-bottom: 12px;
}

@media (max-width: 480px) {
    .tasksInfo {
        gap: 32px;
        padding: 16px;
        background-color: var(--gray-500);
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
}